.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo.bg-dark {
  background-color: #c2c2c2 !important;
}

.title {
  color: #00abe0;
}

.title > h2 {
    color: #8b979b;
    font-size: 1rem;
    font-weight: normal;
}
}

.form__wrapper {
  border-top: 5px solid #00abe0;
  background-color: #eeeeee;
  padding: 15px 10px;
}

.btn__cotizar {
  font-size: 2rem;
  padding: 10px;
  border: 0;
  width: 100%;
  background-color: #b1d641;
  color: white;
  border-bottom: 4px solid #9bc217;
  border-radius: 4px;
}

.btn__cotizar:hover {
    background-color: #6b812a;
  }

.link__recuperar > a {
  font-size: 18px;
  color: #00abe0;
  text-decoration: none;
}

.form__wrapper .form__fields {
  background-color: white;
  border: 1px solid #8b979b;
}

.form__wrapper .row {
  width: 100%;
  margin: 0 auto;
  /* padding: 5px; */
}

.form__wrapper .form__fields div {
  padding: 0;
}

.form__wrapper select,
.form__wrapper input {
  width: 100%;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form__wrapper input {
  border-bottom: none;
}

.form__wrapper select.ano_auto {
  border-left: 1px solid #8b979b;
}

.form__wrapper label {
    display: none;
}

.mobile {
    display: block;
}

.option__desktop {
    display: none;
}


/*
    RESPONSIVE
*/

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px){
    
    .form__wrapper label {
        display: block;
    }

    .form__wrapper .form__fields {
        border: 0;
    }
    
    .form__wrapper select,
    .form__wrapper input {
        width: 100%;
        padding: 10px;
        border: 1px solid #8b979b;
    }

    .form__wrapper select.ano_auto {
        border-left: 1px solid #8b979b;
    }

    .form__wrapper .form__fields div {
        margin-top: 10px;
    }

    .option__mobile {
        display: none;
    }
    
    .option__desktop {
        display: block;
    }

}

 /* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px){
    
    .form__wrapper label {
        display: inline-block;
    }

    .form__wrapper .form__fields {
        border: 0;
    }
    
    .form__wrapper select,
    .form__wrapper input {
        width: 100%;
        padding: 10px;
        border: 1px solid #8b979b;
    }

    .form__wrapper select.ano_auto {
        border-left: 1px solid #8b979b;
    }

    .form__wrapper .form__fields div {
        margin-top: 10px;
        padding-right: 5px;
    }

}
